.main-layout {
  @include screenSize();
  @include flex();

  .content {
    @include flex-left(flex-start);
    width: $screen-width;
    height: $content-height;

    main {
     flex-grow: 1;
    }
  }
}