

.ui-textfield {

  @include flex();

  &:not(.hasIcon) > * {
    width: 100%;
  }

  > label {
    color: $color-green;
  }

  > input {
    @include theme($color-greenish-gray);
    @include border();
    @include padding();
  }

  &.hasIcon {
    > label {
      width: 100%;
    }
    > svg {
      width: auto;
      @include margin();
    }
    > input {
      flex-grow: 1;
    }
  }
}