@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: K2D;
}

body {
  overflow: hidden;
  background-image: 
    linear-gradient(to left, $color-background 0%, $color-background 100%),
    url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}