.ui-training-create {
    padding:2rem;
    &>div {
        display: flex;
        align-items: center;
        &>span.label{
            color:#7BFF65; // Não ta funcionando o $color-green
            padding-right: 0.5rem;
        }
        &.remove{
            justify-content: flex-end;
        }
    }
}