
.ui-button {
  @include theme($color-green, true);
  @include flex();
  @include border-rounded();
  @include padding();
  cursor: pointer;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  &.fluid{
    width:100%;
  }
}