.ui-box{
    display: flex;
    background-color: $color-greenish-gray;
    color:#f1f1f1;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 8px #000;
    text-decoration: none;
    &>div{
        flex:1;
    }
}
a.ui-box:hover{
    background-color: $color-greenish-black;
    cursor: pointer;
}