.ui-trainingItem{
    &>div{
        &.info>.name{
            color:$color-green;   
            font-size: 18px;         
        }
        &>small{
            display: block;
        }
        &.date{
            &>.day{
                font-size: 18px;
            }
            &>small{
                color:#dedede;
            }  
        }
        &.quantity{
            color:$color-green;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}