
> .calendar {

  @include flex;

  $measure: .6rem 0;

  > .month-control {
    @include flex(space-between);
    @include padding();
  }

  > .days-of-week {
    @include flex();
    margin: $measure;
    cursor: default;
    > div {
      text-align: center;
    }
  }

  > .week {
    @include flex();
    > button {
      padding: $measure;
      outline: none;
      border: none;
      cursor: pointer;

      @include transition();

      &:hover {
        background-color: $color-dark-green;
        color: #000a;
      }

      &.active {
        @include theme($color-green);
      }
      &.from-other-month {
        color: #fffa !important;
      }
    }

    &:nth-child(odd) {
      > button:nth-child(odd):not(.active, :hover) {
        @include theme($color-greenish-black)
      }
      > button:nth-child(even):not(.active, :hover) {
        @include theme($color-greenish-gray)
      }
    }

    &:nth-child(even) {
      > button:nth-child(odd):not(.active, :hover) {
        @include theme($color-greenish-gray)
      }
      > button:nth-child(even):not(.active, :hover) {
        @include theme($color-greenish-black)
      }
    }

  }

}